# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
.anima/
